{ "cltbld": ""
  "ADMIN": "", 
  "releng": "",
  "no_ldap": "",
  "aws_owners_id": "",
  "aws_access_key_id": "",
  "aws_secret_access_key": "",
  "inventory": {
    "url": "",
    "username": "",
    "password": "",
  }
}
